{% extends 'base.html' %}

{% block page %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="shadow"> <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="color: #39395F">
                        <h1 class="text-center"> ABOUT US </h1> <hr>
                        <p>Lorem ipsum integer bibendum porttitor tempus bibendum eros sodales gravida integer <i>tempus non vitae ligula metus</i> odio. Curabitur morbi proin sapien fusce rutrum nec eros quam maecenas vulputate diam. Congue <i>mauris molestie</i> pellentesque vitae at rutrum, pellentesque ultricies tellus ornare morbi metus morbi. Nulla mattis proin et molestie odio lectus <b>non nibh</b> ipsum auctor eros sodales tempus.</p><p>Sodales eros, proin vulputate eros duis, fusce magna in, risus <b>quisque et</b> rutrum lectus odio mattis vivamus arcu adipiscing. Rutrum&nbsp;&mdash; pellentesque nulla, adipiscing&nbsp;&mdash; ut nec et gravida <a href="#">pellentesque eget sagittis.</a> <i>Pharetra vivamus risus eros congue sed quisque</i> non tempus non. Pharetra, lorem molestie justo eu, donec quam nam ligula ut duis amet <a href="#">bibendum&nbsp;&mdash; congue.</a></p><p>Fusce maecenas ligula urna lectus: massa&nbsp;&mdash; ornare ipsum: eget orci nec sed congue sem et. Lectus ultricies nam cursus adipiscing sed: amet nulla, congue <b>integer tellus</b> molestie <b>mattis commodo in.</b> Ornare sagittis eu <a href="#">auctor et sit mauris, urna</a> vivamus nulla ut mauris bibendum lorem pellentesque vulputate sem duis quam integer sed ipsum ut vitae. Et eget non congue ornare et nec lectus commodo enim sit&nbsp;&mdash; sapien enim at, cursus odio ultricies leo commodo eros. Nulla <a href="#">mauris elementum gravida</a> <i>mauris nibh fusce malesuada</i> et ligula amet lectus, <b>nec justo</b> donec. Rutrum, ultricies auctor enim nam leo ut <b>nibh morbi</b> justo, orci. Congue vitae lorem elementum in auctor mattis sem tempus: orci leo sem. Sit ut, vulputate enim gravida fusce molestie&nbsp;&mdash; mattis gravida maecenas morbi vulputate sit, commodo morbi, mauris, <i>et cursus amet arcu non</i> metus magna&nbsp;&mdash; integer.</p><p>Pharetra cursus porttitor cursus eu quam sapien lectus orci, congue eu ornare tellus&nbsp;&mdash; amet gravida, <a href="#">sagittis, vulputate, eu ut eu auctor sapien, cursus duis, tellus.</a> Metus adipiscing ut malesuada sagittis in&nbsp;&mdash; auctor enim molestie, risus ornare massa donec porta diam non, molestie donec <i>amet&nbsp;&mdash; non</i> enim orci. Sodales in sit vivamus sapien, cursus risus ipsum eu mauris donec tempus donec proin sem eu. In ultricies: quam sed sapien leo: ut arcu <b>sagittis, leo</b>: ornare morbi. Eros bibendum quisque morbi fusce amet fusce porttitor fusce auctor sodales, nec leo, porttitor nibh tempus quisque. Quisque ipsum lorem <b>sed molestie sagittis diam</b> ornare&nbsp;&mdash; lectus morbi in <b>sed, ornare diam</b>, curabitur orci <b>leo rutrum quisque.</b></p><p>Lorem fusce elementum adipiscing justo&nbsp;&mdash; sit a enim tellus a at. Quisque leo magna donec, commodo tempus vivamus nibh non enim risus nec adipiscing amet tellus curabitur odio. Commodo malesuada vulputate, arcu adipiscing, justo arcu ut et fusce tempus porta diam porta maecenas fusce et eros rutrum&nbsp;&mdash; pellentesque urna sem&nbsp;&mdash; auctor sem. Diam, eros, et bibendum arcu a, vivamus morbi gravida congue, risus, diam <b>bibendum et, sagittis</b> auctor massa quam.</p><p>Metus tempus massa <i>arcu: porta vivamus at</i> massa mauris tellus <a href="#">vitae morbi</a> maecenas sagittis maecenas. Rutrum ultricies sapien integer, quisque proin eget rutrum elementum non sem at tempus ut non bibendum gravida. Porta ornare rutrum curabitur integer donec molestie: massa cursus pharetra tempus, non cursus rutrum justo. <i>Porta ornare, et</i> leo auctor morbi eu lorem nibh: vivamus: gravida rutrum et ut at nibh quisque, metus. Arcu fusce, congue pellentesque vitae ipsum nulla urna eros mauris gravida cursus diam orci non curabitur orci nam quam duis, vulputate metus enim odio. At a gravida&nbsp;&mdash; sed cursus vivamus porttitor nibh ultricies congue, odio ultricies rutrum orci quisque tempus nec mattis vitae. Cursus vivamus tempus massa urna eu risus sed enim auctor, sodales auctor magna ultricies <b>molestie.</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}