{% load static %}
{% load thumbnail %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gros.Delivery</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %} {% endblock css %}
</head>

<body style="background-color: #efeff5 ;">
{% csrf_token %}
<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #39395f;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: #a9c25d">Gros.Delivery</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <!--Category-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: #f5eec2">Categories
                        of products</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for contex in context_category %}
                            <a class="dropdown-item" href="/category/{{ contex.slug }}/">{{ contex.category }}</a>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <form class="d-flex" enctype="multipart/form-data">
                <div class="d-flex align-items-center">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <!--User-->
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown" style="position:relative; right:30px;">

                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    {% if user.avatar %}
                                        {% thumbnail user.avatar "30x30" crop="center" as im %}
                                            <img src="{{ im.url }}" class="rounded-circle" alt="avatar">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img style="height: 30px; width: 30px" src="{% static 'img/no_img.png' %}">
                                    {% endif %}
                                </a>

                                <ul class="dropdown-menu" style="background-color: #F5EEC2; border-color: #0a0a0a;"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item btn btn-success" href="/{{ user.slug }}/profile/">Profile</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/{{ user.slug }}/profile/update/">Settings</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <a class="btn btn-palegreen" style="position:relative; right:40px;" href="/login/">
                                Login </a>
                            <a class="btn btn-palegreen" style="position:relative; right:30px;"
                               href="/signup/">SignUp </a>
                        {% endif %}
                        <!--Cart-->
                        {% if context_cart_exist %}
                            <a href="/cart/"
                               style="position:relative; right:20px; color: #f5eec2">{% bs_icon 'bag-check-fill' size='2em' %}</a>
                        {% else %}
                            <a href="/cart/"
                               style="position:relative; right:20px; color: #f5eec2">{% bs_icon 'bag' size='2em' %}</a>
                        {% endif %}

                        <!--About Us-->
                        <li class="nav-item">
                            <a class="nav-link" href="/about-us/" style="color: #f5eec2">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/" style="color: #f5eec2">admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tech-support/" style="color: #f5eec2">Tech Support</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
<!--EndNavBar-->

<!--Message-->
{% if messages %}
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }}" role="alert">
                <span style="font-size: 20px">{{ message }}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}

<script>
    alertify.set('notifier', 'position', 'bottom-right');
    {% for message in messages %}
        alertify.error('{{ message }}');
    {% endfor %}
</script>
<!--EndMessage-->
{% block page %} {% endblock page %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="{% static 'js/base.js' %}"></script>

{% block js %}

{% endblock %}
</body>
</html>
