{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}"/>
{% endblock css %}

{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script> var stripe = Stripe('{{STRIPE_PUBLIC_KEY}}'); </script>
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock js %}


{% block page %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><br>
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10"><br>
                            {% if card %}
                                <div style="padding: 5px 30px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="use_default_card"
                                               id="use_default_card">
                                        <label class="custom-control-label" for="use_default_card">Use default card:
                                            **** **** **** {{ card.last4 }}
                                            <span>Exp: {{ card.exp_month }}/{{ card.exp_year }}</span>
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="current-card-form">
                                <form action="" method="post" class="stripe-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="use_default" value="true">
                                    <div class="stripe-form-row">
                                        <button id="stripeBtn" class="btn btn-palegreen">Submit Payment</button>
                                    </div>
                                    <div id="card-errors" role="alert"></div>
                                </form>
                            </div>
                            <!--Card Form-->
                            <form method="post" class="stripe-form" id="stripe-form">
                                {% csrf_token %}
                                <br>
                                <div class="new-card-form">
                                    <div class="stripe-form-row" id="creditCard">
                                        <label for="card-element" id="stripeBtnLabel">
                                            Card info
                                        </label>
                                        <div id="card-element" class="StripeElement StripeElement--empty">
                                            <div class="__PrivateStripeElement"
                                                 style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                                <iframe frameborder="0" allowtransparency="true" scrolling="no"
                                                        name="__privateStripeFrame5" allowpaymentrequest="true"
                                                        src="https://js.stripe.com/v3/elements-inner-card-19066928f2ed1ba3ffada645e45f5b50.html#style[base][color]=%2332325d&amp;style[base][fontFamily]=%22Helvetica+Neue%22%2C+Helvetica%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[invalid][color]=%23fa755a&amp;style[invalid][iconColor]=%23fa755a&amp;componentName=card&amp;wait=false&amp;rtl=false&amp;keyMode=test&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fstripe-js&amp;controllerId=__privateStripeController1"
                                                        title="Secure payment input frame"
                                                        style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 19.2px;"></iframe>
                                                <input class="__PrivateStripeElement-input" aria-hidden="true"
                                                       aria-label=" " autocomplete="false" maxlength="1"
                                                       style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="stripe-form-row d-grid gap-2">
                                        <button type="submit" id="stripeBtn" class="btn btn-palegreen">Submit Payment
                                        </button>
                                    </div>
                                    <div id="card-errors" role="alert"></div>
                                </div>
                            </form>
                            <!--Card Form-->
                        </div>
                        <div class="card-body " style="background-color: #39395F; color: #F5EEC2; border-radius: 20px;">
                            <br>
                            <form class="text-center" style="font-size: 24px">Cart</form>
                            <hr>
                            <table class="table table-stripeds table-bordereds" style="color: #f5eec2 ">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cartitem in context_cart.items.all %}
                                    <tr>
                                        <th>{{ cartitem.item.title }}</th>
                                        <th class="text-center">{{ cartitem.quantity }}</th>
                                        <th class="text-center">₴ {{ cartitem.item.price }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <b>Total Price</b> <span class="float-end">₴ {{ context_cart.get_total }}</span><br>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
