{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block page %}
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center" style="color: #a9c25d">
            <h1>Something went wrong! Try next time.</h1>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}