{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block js %}
    <script src="{% static 'js/product-info.js' %}"></script>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><br>
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <!-- image col -->
                        <div class="col-md-6">

                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% thumbnail object.main_image "500x500" crop="center" as im %}
                                        <div class="carousel-item active">
                                            <img src="{{ im.url }}" class="d-block w-100" alt="product_image">
                                        </div>
                                    {% endthumbnail %}
                                    {% for image in object.image_set.all %}
                                        {% thumbnail image.images "500x500" crop="center" as im %}
                                            <div class="carousel-item">
                                                <img src="{{ im.url }}" class="d-block w-100 card-img-top"
                                                     alt="product_img">
                                            </div>
                                        {% endthumbnail %}
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>


                        </div>
                        <!-- information col -->
                        <div class="col-md-6 text-center">
                            {% csrf_token %}
                            <h1>{{ object.title }}</h1>
                            <hr>
                            <h3>Compound:</h3>
                            <p>{{ object.compound }}</p>
                            <hr>
                            <h3>Description:</h3>
                            <p>{{ object.description }}</p>
                            <hr>
                            <h3>Price:</h3><h4>₴ {{ object.price }}</h4><br>
                            <!-- cart -->
                            <form class="d-grid gap-2" id="button-form" action="{% url 'add_to_cart' %}">
                                <button type="button" id="add-to-cart" class="btn-lg btn-palegreen add-to-cart "
                                        data-item_id="{{ object.id }}">add to cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
