{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}

{% block page %}
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2"><br>
            <form method="post"> {% csrf_token %}
                <div class="card text-center" style="width: 20rem;">
                <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="logo">
                <div class="card-body d-grid gap-2" ><hr>
                    <h5 class="card-title">Please sign in</h5><br>
                    <p class="card-text">{{ form.username.label }}</p>
                    <p class="card-text">{{ form.username|add_class:'form-control' }}</p>
                    <p class="card-text">{{ form.password.label }}</p>
                    <p class="card-text">{{ form.password|add_class:'form-control' }}</p>
                    <button type="submit" class="btn btn-palegreen" id="signin_id">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
                </div>
                </div>
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
{% endblock %}


