{% extends 'base.html' %}


{% block page %}
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5 text-center">
        <div style="font-size: 350%; margin-top: 20%; color: #70a040">Welcome to Gros Delivery</div>
        <div style="margin-top: 15%" class="d-grid gap-2 shadow-lg" >
            <a href="/category/" class="btn btn-palegreen btn-lg">Let's start </a>
        </div>
    </div>
    <div class="col-md-3"></div>
    </div>
{% endblock %}