{% extends 'base.html' %}
{% load static %}

{% block page %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><br>
            <div class="card shadow">
                <div class="card-body">
                    <table class="table table-stripeds table-bordereds text-center" style="color: #f5eec2 ">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Products</th>
                            <th>Quantity</th>
                            <th> Order date</th>
                            <th>Total Pay</th>
                            <th>Payment variant</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for order in object_list %}
                                <tr>
                                    <th>{{ order.id }}</th>
                                    <th>
                                        {% for product in order.items.all %}
                                            <p>{{ product.item.title }}</p>
                                        {% endfor %}
                                    </th>
                                    <th>
                                        {% for qty in order.items.all %}
                                            <p>{{ qty.quantity }}</p>
                                        {% endfor %}
                                    </th>
                                    <th>{{ order.ordered_date }}</th>
                                    <th>₴ {{ order.get_total }} </th>
                                    <th>{{ order.payment_choice }}</th>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}