{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}"/>
{% endblock css %}

{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script> var stripe = Stripe('pk_test_51LNsz5BXPDBqxV9SwlzK7PK05P31jtNac4BPfBRe9G0VCp98IfmsF9ip62E1BrVsudWqukHHC4myehqs2HutjHe200dzZehyXy'); </script>
    <script> var stripe = Stripe('{{STRIPE_PUBLIC_KEY}}'); </script>
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock js %}

{% block page %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5"><br>
            <div class="card shadow">
                <div class="card-body">
                    {% for card in card_list %}
                        <div style="padding: 5px 30px;">
                            <label class="custom-control-label" for="use_default_card">Current card number: **** ****
                                **** {{ card.last4 }}
                                <span>Exp: {{ card.exp_month }}/{{ card.exp_year }}</span>
                            </label>
                        </div>
                    {% endfor %}
                    <form method="post" class="stripe-form" id="stripe-form">
                        {% csrf_token %}
                        <br>
                        <div class="new-card-form">
                            <div class="stripe-form-row" id="creditCard">
                                <label for="card-element" id="stripeBtnLabel">
                                    Change card info
                                </label>
                                <div id="card-element" class="StripeElement StripeElement--empty">
                                    <div class="__PrivateStripeElement"
                                         style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                        <iframe frameborder="0" allowtransparency="true" scrolling="no"
                                                name="__privateStripeFrame5" allowpaymentrequest="true"
                                                src="https://js.stripe.com/v3/elements-inner-card-19066928f2ed1ba3ffada645e45f5b50.html#style[base][color]=%2332325d&amp;style[base][fontFamily]=%22Helvetica+Neue%22%2C+Helvetica%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[invalid][color]=%23fa755a&amp;style[invalid][iconColor]=%23fa755a&amp;componentName=card&amp;wait=false&amp;rtl=false&amp;keyMode=test&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fstripe-js&amp;controllerId=__privateStripeController1"
                                                title="Secure payment input frame"
                                                style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 19.2px;"></iframe>
                                        <input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" "
                                               autocomplete="false" maxlength="1"
                                               style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                                    </div>
                                </div>
                            </div>
                            <div class="stripe-form-row d-grid gap-2">
                                <button type="submit" id="stripeBtn" class="btn btn-palegreen">Add card</button>
                            </div>
                            <div id="card-errors" role="alert"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
